nav{
    display:flex;
    flex-direction: row;

    justify-content: space-between;
}

.user_nav{
    display:flex;
    align-self: center;
}

.user_nav *{
    margin: 2px;
}

#username{
    margin: auto;
}

#favourites{
    margin: auto;
}