<h1>Deeon-Dean Stonks</h1>

<strong><p>This project was built by Deeon Burgan and Dean Raguso as part of a 2 day Hackathon.</p></strong>
<br>

<h2>Brief</h2>
As Dean remembers the spoken brief, "build something in Rails that uses runs on Heroku".

<h2>Our Idea</h2>
We wanted to create an application that interacted via API with our best (mutual interest) Runescape.

Runescape is a Massively Multiplayer Online Role Playing Game (MMORPG), featuring it's own market-place where game items are sold.

This market resembles the real stock market, in that prices change depending on the volume and value of players trades. Back when the game was more popular, trading on this marketplace alone was a viable strategy for making money.

<h2>Features</h2>
<ul>
    <li>User management system using Devise.</li>
    <li>Utilization of Runescape's basic API to access the Grand Exchange.</li>
    <li>The ability to add, remove, and edit the items you have chosen to favorite. (Similar to following a stock.)</li>
    <li>Graphical representation of stock prices for the last 180 days.</li>
</ul>