.content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    grid-template-areas: 
    "item item"
    "details graph"
    ;
}

.items{
    grid-area: item;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.stock-details{
    display:flex;
    flex-direction: column;

    align-items: center;
    padding-left: 50%;
}

.stock-details *{
    text-align: center;
}
